{:paths ["src" "resources" "classes"]
 :deps {org.clojure/tools.logging {:mvn/version "1.3.0"}
        spootnik/unilog {:mvn/version "0.7.32"}
        aero/aero {:mvn/version "1.1.6"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        metosin/malli {:mvn/version "0.16.1"}
        clj-commons/clj-yaml {:mvn/version "1.0.27"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        hikari-cp/hikari-cp {:mvn/version "3.1.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
        org.postgresql/postgresql {:mvn/version "42.7.3"}
        migratus/migratus {:mvn/version "1.5.6"}
        com.github.seancorfield/honeysql {:mvn/version "2.6.1147"}
        com.savarese.rocksaw.net/rocksaw {:local/root "./lib/rocksaw-1.1.0.jar"}

        ring/ring-core {:mvn/version "1.12.2"}
        metosin/reitit {:mvn/version "0.7.1"}
        info.sunng/ring-jetty9-adapter {:mvn/version "0.33.4"}}
 :aliases {:dev {:extra-paths ["test-small" "test-medium" "test-resources"]
                 :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                              lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
                 :jvm-opts ["-Djava.library.path=./lib"
                            "-Dclojure.core.async.go-checking=true"]}
           :test {:main-opts ["-m" "kaocha.runner"]}
           :compile {:jvm-opts ["-Djava.library.path=./lib"]}
           :uberjar {:replace-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
                     :replace-paths []
                     :main-opts ["-m" "uberdeps.uberjar"]}}}
