{:paths ["src" "resources"]
 :deps {org.clojure/tools.logging {:mvn/version "1.2.4"}
        spootnik/unilog {:mvn/version "0.7.31"}
        aero/aero {:mvn/version "1.1.6"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        org.clojure/core.async {:mvn/version "1.6.681"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                              lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}}
           :test {:main-opts ["-m" "kaocha.runner"]}}}
